.bg-video {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    z-index: -1; // to be sure it is behind the element of the sections tours child;
    opacity: .15;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;//fill the entire parent while maintaining the aspect ratio; the path
        // that dosent fit will be clipped off;
    }
}